backend/n8n-workflows/ai-chat.json
{
  "name": "AI Chat Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai/chat",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ai-chat-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "messages",
              "name": "messages",
              "type": "array",
              "value": "={{ $json.body.messages }}"
            },
            {
              "id": "model",
              "name": "model",
              "type": "string",
              "value": "={{ $json.body.model || 'gemini-1.5-flash' }}"
            },
            {
              "id": "temperature",
              "name": "temperature",
              "type": "number",
              "value": "={{ $json.body.temperature || 0.7 }}"
            },
            {
              "id": "maxTokens",
              "name": "maxTokens",
              "type": "number",
              "value": "={{ $json.body.maxTokens || 4096 }}"
            },
            {
              "id": "requestId",
              "name": "requestId",
              "type": "string",
              "value": "={{ $json.body._meta?.requestId || 'n8n-' + Date.now() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-params",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "gemini-condition",
              "leftValue": "={{ $json.model }}",
              "rightValue": "gemini",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "router",
      "name": "Route by Model",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "modelId": {
          "__rl": true,
          "value": "={{ $json.model }}",
          "mode": "id"
        },
        "messages": {
          "values": "={{ $json.messages }}"
        },
        "options": {
          "temperature": "={{ $json.temperature }}",
          "maxOutputTokens": "={{ $json.maxTokens }}"
        }
      },
      "id": "gemini-chat",
      "name": "Google Gemini Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [900, 200],
      "credentials": {
        "googleGeminiApi": {
          "id": "gemini-credentials",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "model": "={{ $json.model }}",
        "messages": {
          "values": "={{ $json.messages }}"
        },
        "options": {
          "temperature": "={{ $json.temperature }}",
          "maxTokens": "={{ $json.maxTokens }}"
        }
      },
      "id": "openai-chat",
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.6,
      "position": [900, 400],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "content",
              "name": "content",
              "type": "string",
              "value": "={{ $json.message?.content || $json.text || $json.output || '' }}"
            },
            {
              "id": "model",
              "name": "model",
              "type": "string",
              "value": "={{ $('Set Parameters').item.json.model }}"
            },
            {
              "id": "provider",
              "name": "provider",
              "type": "string",
              "value": "={{ $json.model?.includes('gemini') ? 'google' : 'openai' }}"
            },
            {
              "id": "requestId",
              "name": "requestId",
              "type": "string",
              "value": "={{ $('Set Parameters').item.json.requestId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ content: $json.content, model: $json.model, provider: $json.provider, requestId: $json.requestId }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error?.message || 'AI request failed', code: 'AI_ERROR' }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Route by Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Model": {
      "main": [
        [
          {
            "node": "Google Gemini Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "AI",
      "id": "ai-tag"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-12-30T00:00:00.000Z",
  "versionId": "1"
}
