backend/n8n-workflows/ai-chat.json
{
  "name": "AI Chat Webhook (OpenCode)",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "webhookId": "ai-chat-webhook",
      "parameters": {
        "path": "ai/chat",
        "options": {
          "rawBody": false
        },
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "set-params",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "messages",
              "name": "messages",
              "type": "array",
              "value": "={{ $json.body.messages }}"
            },
            {
              "id": "model",
              "name": "model",
              "type": "string",
              "value": "={{ $json.body.model || $env.OPENCODE_DEFAULT_MODEL || 'gpt-4.1' }}"
            },
            {
              "id": "temperature",
              "name": "temperature",
              "type": "number",
              "value": "={{ $json.body.temperature || 0.7 }}"
            },
            {
              "id": "maxTokens",
              "name": "maxTokens",
              "type": "number",
              "value": "={{ $json.body.maxTokens || 4096 }}"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json.body.sessionId || '' }}"
            },
            {
              "id": "requestId",
              "name": "requestId",
              "type": "string",
              "value": "={{ $json.body._meta?.requestId || 'n8n-' + Date.now() }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "build-opencode-request",
      "name": "Build OpenCode Request",
      "type": "n8n-nodes-base.set",
      "position": [
        680,
        300
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "={{ $json.messages?.length === 1 ? $json.messages[0].content : ($json.messages || []).map(m => (m.role === 'assistant' ? 'Assistant' : m.role === 'system' ? 'System' : 'User') + ': ' + m.content).join('\\n\\n') }}"
            },
            {
              "id": "providerID",
              "name": "providerID",
              "type": "string",
              "value": "={{ $env.OPENCODE_DEFAULT_PROVIDER || 'github-copilot' }}"
            },
            {
              "id": "modelID",
              "name": "modelID",
              "type": "string",
              "value": "={{ $json.model }}"
            },
            {
              "id": "title",
              "name": "title",
              "type": "string",
              "value": "={{ 'n8n-chat-' + Date.now() }}"
            }
          ]
        },
        "includeOtherFields": true
      },
      "typeVersion": 3.4
    },
    {
      "id": "opencode-chat",
      "name": "OpenCode Chat",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        900,
        300
      ],
      "parameters": {
        "url": "={{ ($env.OPENCODE_BACKEND_URL || $env.OPENCODE_BASE_URL || 'http://ai-server-backend:7016') + '/chat' }}",
        "method": "POST",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($json.message) }},\n  \"providerID\": {{ JSON.stringify($json.providerID) }},\n  \"modelID\": {{ JSON.stringify($json.modelID) }},\n  \"title\": {{ JSON.stringify($json.title) }},\n  \"sessionId\": {{ $json.sessionId ? JSON.stringify($json.sessionId) : 'null' }}\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $env.OPENCODE_API_KEY ? 'Bearer ' + $env.OPENCODE_API_KEY : '' }}"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "check-success",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "position": [
        1120,
        300
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-success",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "position": [
        1340,
        200
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "content",
              "name": "content",
              "type": "string",
              "value": "={{ $json.body?.data?.response?.text || $json.body?.response?.text || '' }}"
            },
            {
              "id": "model",
              "name": "model",
              "type": "string",
              "value": "={{ $('Set Parameters').item.json.model }}"
            },
            {
              "id": "provider",
              "name": "provider",
              "type": "string",
              "value": "opencode"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json.body?.sessionId || '' }}"
            },
            {
              "id": "requestId",
              "name": "requestId",
              "type": "string",
              "value": "={{ $('Set Parameters').item.json.requestId }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1560,
        200
      ],
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ content: $json.content, model: $json.model, provider: $json.provider, sessionId: $json.sessionId, requestId: $json.requestId }) }}"
      },
      "typeVersion": 1.1
    },
    {
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1560,
        400
      ],
      "parameters": {
        "options": {
          "responseCode": 500
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.body?.error || $json.body || 'AI request failed', code: 'AI_ERROR' }) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Build OpenCode Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenCode Request": {
      "main": [
        [
          {
            "node": "OpenCode Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenCode Chat": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true,
  "triggerCount": 1
}