backend/n8n-workflows/ai-translate.json
{
  "name": "AI Translate Webhook (OpenAI Compatible)",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "webhookId": "ai-translate-webhook",
      "parameters": {
        "path": "ai/translate",
        "options": {
          "rawBody": false
        },
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "set-params",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "title",
              "name": "title",
              "type": "string",
              "value": "={{ $json.body.title || '' }}"
            },
            {
              "id": "description",
              "name": "description",
              "type": "string",
              "value": "={{ $json.body.description || '' }}"
            },
            {
              "id": "content",
              "name": "content",
              "type": "string",
              "value": "={{ $json.body.content || '' }}"
            },
            {
              "id": "sourceLang",
              "name": "sourceLang",
              "type": "string",
              "value": "={{ $json.body.sourceLang || 'ko' }}"
            },
            {
              "id": "targetLang",
              "name": "targetLang",
              "type": "string",
              "value": "={{ $json.body.targetLang || 'en' }}"
            },
            {
              "id": "model",
              "name": "model",
              "type": "string",
              "value": "={{ $json.body.model || $env.AI_DEFAULT_MODEL || $env.OPENAI_DEFAULT_MODEL || 'gpt-4.1' }}"
            },
            {
              "id": "requestId",
              "name": "requestId",
              "type": "string",
              "value": "={{ $json.body._meta?.requestId || 'n8n-translate-' + Date.now() }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "build-openai-request",
      "name": "Build OpenAI Request",
      "type": "n8n-nodes-base.set",
      "position": [
        680,
        300
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "messages",
              "name": "messages",
              "type": "array",
              "value": "={{ [{ role: 'system', content: 'You are a professional translator. Translate accurately while preserving meaning, tone, and formatting (including markdown). Do not add explanations or notes. Return ONLY a JSON object with translated fields.' }, { role: 'user', content: 'Translate the following from ' + $json.sourceLang + ' to ' + $json.targetLang + '.\\n\\n' + JSON.stringify({ title: $json.title, description: $json.description, content: $json.content }) }] }}"
            },
            {
              "id": "model",
              "name": "model",
              "type": "string",
              "value": "={{ $json.model }}"
            }
          ]
        },
        "includeOtherFields": true
      },
      "typeVersion": 3.4
    },
    {
      "id": "openai-chat",
      "name": "OpenAI Chat Completions",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        900,
        300
      ],
      "parameters": {
        "url": "={{ (($env.AI_SERVER_URL || $env.OPENAI_API_BASE_URL || 'https://api.openai.com/v1').replace(/\\/v1\\/?$/, '')) + '/v1/chat/completions' }}",
        "method": "POST",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "jsonBody": "={\n  \"model\": {{ JSON.stringify($json.model) }},\n  \"messages\": {{ JSON.stringify($json.messages) }}\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.AI_API_KEY || $env.OPENAI_API_KEY || '') }}"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "position": [
        1120,
        300
      ],
      "parameters": {
        "jsCode": "const original = $('Set Parameters').first().json;\nconst text = $input.first().json.body?.choices?.[0]?.message?.content || $input.first().json.body?.data?.choices?.[0]?.message?.content || '';\n\nlet parsed = null;\ntry {\n  parsed = JSON.parse(text);\n} catch {\n  const fence = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fence?.[1]) {\n    try { parsed = JSON.parse(fence[1].trim()); } catch {}\n  }\n  if (!parsed) {\n    const start = text.indexOf('{');\n    const end = text.lastIndexOf('}');\n    if (start >= 0 && end > start) {\n      try { parsed = JSON.parse(text.slice(start, end + 1)); } catch {}\n    }\n  }\n}\n\nreturn {\n  json: {\n    title: parsed?.title || original.title || '',\n    description: parsed?.description || original.description || '',\n    content: parsed?.content || original.content || '',\n    isAiGenerated: true,\n    model: original.model,\n    provider: 'openai-compat',\n    requestId: original.requestId\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1340,
        300
      ],
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Build OpenAI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Request": {
      "main": [
        [
          {
            "node": "OpenAI Chat Completions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Completions": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true,
  "triggerCount": 1
}