backend/n8n-workflows/ai-task.json
{
  "name": "AI Task Webhook (OpenCode)",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "webhookId": "ai-task-webhook",
      "parameters": {
        "path": "ai/task",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "set-params",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "mode",
              "name": "mode",
              "type": "string",
              "value": "={{ $json.body.mode || 'custom' }}"
            },
            {
              "id": "paragraph",
              "name": "paragraph",
              "type": "string",
              "value": "={{ $json.body.payload?.paragraph || '' }}"
            },
            {
              "id": "postTitle",
              "name": "postTitle",
              "type": "string",
              "value": "={{ $json.body.payload?.postTitle || '' }}"
            },
            {
              "id": "model",
              "name": "model",
              "type": "string",
              "value": "={{ $json.body.model || $env.OPENCODE_DEFAULT_MODEL || 'gpt-4.1' }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.set",
      "position": [
        680,
        300
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "prompt",
              "name": "prompt",
              "type": "string",
              "value": "={{ $json.mode === 'sketch' ? 'You are a helpful writing companion. Return STRICT JSON only matching the schema: {\"mood\":\"string\",\"bullets\":[\"string\"]}. Post: ' + $json.postTitle + '. Paragraph: ' + $json.paragraph + '. Task: Capture the emotional sketch. Select a concise mood and 3-6 short bullets.' : $json.mode === 'prism' ? 'Return STRICT JSON only for idea facets: {\"facets\":[{\"title\":\"string\",\"points\":[\"string\"]}]}. Post: ' + $json.postTitle + '. Paragraph: ' + $json.paragraph + '. Task: Provide 2-3 facets with 2-4 points each.' : $json.mode === 'chain' ? 'Return STRICT JSON only for tail questions: {\"questions\":[{\"q\":\"string\",\"why\":\"string\"}]}. Post: ' + $json.postTitle + '. Paragraph: ' + $json.paragraph + '. Task: Generate 3-5 follow-up questions with brief why.' : 'Summarize the following content concisely: ' + $json.paragraph }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "build-opencode-request",
      "name": "Build OpenCode Request",
      "type": "n8n-nodes-base.set",
      "position": [
        900,
        300
      ],
      "parameters": {
        "options": {},
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "={{ $json.prompt }}"
            },
            {
              "id": "providerID",
              "name": "providerID",
              "type": "string",
              "value": "={{ $env.OPENCODE_DEFAULT_PROVIDER || 'github-copilot' }}"
            },
            {
              "id": "modelID",
              "name": "modelID",
              "type": "string",
              "value": "={{ $(\"Set Parameters\").item.json.model }}"
            },
            {
              "id": "title",
              "name": "title",
              "type": "string",
              "value": "={{ 'n8n-task-' + $(\"Set Parameters\").item.json.mode + '-' + Date.now() }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "opencode-chat",
      "name": "OpenCode Chat",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        300
      ],
      "parameters": {
        "url": "={{ ($env.OPENCODE_BACKEND_URL || $env.OPENCODE_BASE_URL || 'http://ai-server-backend:7016') + '/chat' }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\": {{ JSON.stringify($json.message) }}, \"providerID\": {{ JSON.stringify($json.providerID) }}, \"modelID\": {{ JSON.stringify($json.modelID) }}, \"title\": {{ JSON.stringify($json.title) }}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 180000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "position": [
        1340,
        300
      ],
      "parameters": {
        "jsCode": "const text = $input.first().json.body?.data?.response?.text || $input.first().json.body?.response?.text || '';\nconst mode = $(\"Set Parameters\").first().json.mode;\n\nlet data = null;\ntry {\n  data = JSON.parse(text);\n} catch {\n  const fence = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fence?.[1]) {\n    try { data = JSON.parse(fence[1].trim()); } catch {}\n  }\n  if (!data) {\n    const start = text.indexOf('{');\n    const end = text.lastIndexOf('}');\n    if (start >= 0 && end > start) {\n      try { data = JSON.parse(text.slice(start, end + 1)); } catch {}\n    }\n  }\n}\n\nif (!data) {\n  data = mode === 'summary' ? { summary: text } : { text };\n}\n\nreturn { json: { ok: true, data, mode, source: 'opencode' } };"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1560,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Build OpenCode Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenCode Request": {
      "main": [
        [
          {
            "node": "OpenCode Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenCode Chat": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true,
  "triggerCount": 1
}