backend/n8n-workflows/ai-task.json
{
  "name": "AI Task Webhook (OpenCode)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai/task",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ai-task-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "mode", "name": "mode", "type": "string", "value": "={{ $json.body.mode || 'custom' }}" },
            { "id": "paragraph", "name": "paragraph", "type": "string", "value": "={{ $json.body.payload?.paragraph || $json.body.payload?.content || '' }}" },
            { "id": "postTitle", "name": "postTitle", "type": "string", "value": "={{ $json.body.payload?.postTitle || '' }}" },
            { "id": "persona", "name": "persona", "type": "string", "value": "={{ $json.body.payload?.persona || 'default' }}" },
            { "id": "temperature", "name": "temperature", "type": "number", "value": "={{ $json.body.temperature || 0.2 }}" },
            { "id": "model", "name": "model", "type": "string", "value": "={{ $json.body.model || $env.OPENCODE_DEFAULT_MODEL || 'gpt-4.1' }}" }
          ]
        },
        "options": {}
      },
      "id": "set-params",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.mode }}", "rightValue": "sketch", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sketch"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.mode }}", "rightValue": "prism", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "prism"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.mode }}", "rightValue": "chain", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chain"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.mode }}", "rightValue": "summary", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "summary"
            }
          ],
          "fallbackOutput": { "renameOutput": true, "outputKey": "custom" }
        },
        "options": {}
      },
      "id": "switch",
      "name": "Switch by Mode",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt",
              "name": "prompt",
              "type": "string",
              "value": "You are a helpful writing companion. Return STRICT JSON only matching the schema.\n{\"mood\":\"string\",\"bullets\":[\"string\", \"string\", \"...\"]}\n\nPersona: {{ $json.persona }}\nPost: {{ $json.postTitle.slice(0, 120) }}\nParagraph:\n{{ $json.paragraph.slice(0, 1600) }}\n\nTask: Capture the emotional sketch. Select a concise mood (e.g., curious, excited, skeptical) and 3-6 short bullets in the original language of the text."
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "sketch-prompt",
      "name": "Sketch Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt",
              "name": "prompt",
              "type": "string",
              "value": "Return STRICT JSON only for idea facets.\n{\"facets\":[{\"title\":\"string\",\"points\":[\"string\",\"string\"]}]}\n\nPost: {{ $json.postTitle.slice(0, 120) }}\nParagraph:\n{{ $json.paragraph.slice(0, 1600) }}\n\nTask: Provide 2-3 facets (titles) with 2-4 concise points each, in the original language."
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "prism-prompt",
      "name": "Prism Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 240]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt",
              "name": "prompt",
              "type": "string",
              "value": "Return STRICT JSON only for tail questions.\n{\"questions\":[{\"q\":\"string\",\"why\":\"string\"}]}\n\nPost: {{ $json.postTitle.slice(0, 120) }}\nParagraph:\n{{ $json.paragraph.slice(0, 1600) }}\n\nTask: Generate 3-5 short follow-up questions and a brief why for each, in the original language."
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "chain-prompt",
      "name": "Chain Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 380]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt",
              "name": "prompt",
              "type": "string",
              "value": "Summarize the following content in Korean, concise but faithful to key points.\n\n{{ $json.paragraph }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "summary-prompt",
      "name": "Summary Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 520]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "message", "name": "message", "type": "string", "value": "={{ $json.prompt }}" },
            { "id": "providerID", "name": "providerID", "type": "string", "value": "={{ $env.OPENCODE_DEFAULT_PROVIDER || 'github-copilot' }}" },
            { "id": "modelID", "name": "modelID", "type": "string", "value": "={{ $('Set Parameters').item.json.model }}" },
            { "id": "title", "name": "title", "type": "string", "value": "={{ 'n8n-task-' + $('Set Parameters').item.json.mode + '-' + Date.now() }}" }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "build-opencode-request",
      "name": "Build OpenCode Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.OPENCODE_BASE_URL || 'http://opencode-backend:7016') + '/chat' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($json.message) }},\n  \"providerID\": {{ JSON.stringify($json.providerID) }},\n  \"modelID\": {{ JSON.stringify($json.modelID) }},\n  \"title\": {{ JSON.stringify($json.title) }}\n}",
        "options": { "timeout": 180000, "response": { "response": { "fullResponse": true } } }
      },
      "id": "opencode-chat",
      "name": "OpenCode Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.body?.response?.text || '';\nconst mode = $('Set Parameters').first().json.mode;\n\nlet data = null;\ntry {\n  data = JSON.parse(text);\n} catch {\n  const fence = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fence?.[1]) {\n    try { data = JSON.parse(fence[1].trim()); } catch {}\n  }\n  if (!data) {\n    const start = text.indexOf('{');\n    const end = text.lastIndexOf('}');\n    if (start >= 0 && end > start) {\n      try { data = JSON.parse(text.slice(start, end + 1)); } catch {}\n    }\n  }\n}\n\nif (!data) {\n  if (mode === 'summary') {\n    data = { summary: text };\n  } else if (mode === 'sketch') {\n    data = { mood: 'curious', bullets: ['Unable to parse response'] };\n  } else if (mode === 'prism') {\n    data = { facets: [{ title: '요약', points: [text.slice(0, 200)] }] };\n  } else if (mode === 'chain') {\n    data = { questions: [{ q: '추가 질문 생성 실패', why: '' }] };\n  } else {\n    data = { text };\n  }\n}\n\nreturn { json: { ok: true, data, mode, source: 'opencode' } };"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1800, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Set Parameters", "type": "main", "index": 0 }]] },
    "Set Parameters": { "main": [[{ "node": "Switch by Mode", "type": "main", "index": 0 }]] },
    "Switch by Mode": {
      "main": [
        [{ "node": "Sketch Prompt", "type": "main", "index": 0 }],
        [{ "node": "Prism Prompt", "type": "main", "index": 0 }],
        [{ "node": "Chain Prompt", "type": "main", "index": 0 }],
        [{ "node": "Summary Prompt", "type": "main", "index": 0 }],
        [{ "node": "Sketch Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Sketch Prompt": { "main": [[{ "node": "Build OpenCode Request", "type": "main", "index": 0 }]] },
    "Prism Prompt": { "main": [[{ "node": "Build OpenCode Request", "type": "main", "index": 0 }]] },
    "Chain Prompt": { "main": [[{ "node": "Build OpenCode Request", "type": "main", "index": 0 }]] },
    "Summary Prompt": { "main": [[{ "node": "Build OpenCode Request", "type": "main", "index": 0 }]] },
    "Build OpenCode Request": { "main": [[{ "node": "OpenCode Chat", "type": "main", "index": 0 }]] },
    "OpenCode Chat": { "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]] },
    "Parse Response": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "AI", "id": "ai-tag" }],
  "triggerCount": 0,
  "updatedAt": "2026-01-01T00:00:00.000Z",
  "versionId": "1"
}
