backend/n8n-workflows/ai-vision.json
{
  "name": "AI Vision Webhook (OpenAI Compatible)",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "webhookId": "ai-vision-webhook",
      "parameters": {
        "path": "ai/vision",
        "options": {
          "rawBody": false
        },
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "set-params",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "type",
              "name": "type",
              "type": "string",
              "value": "={{ $json.body.type || ($json.body.imageUrl ? 'url' : 'base64') }}"
            },
            {
              "id": "imageUrl",
              "name": "imageUrl",
              "type": "string",
              "value": "={{ $json.body.imageUrl || '' }}"
            },
            {
              "id": "image",
              "name": "image",
              "type": "string",
              "value": "={{ $json.body.image || '' }}"
            },
            {
              "id": "prompt",
              "name": "prompt",
              "type": "string",
              "value": "={{ $json.body.prompt || 'Describe this image in detail.' }}"
            },
            {
              "id": "mimeType",
              "name": "mimeType",
              "type": "string",
              "value": "={{ $json.body.mimeType || 'image/jpeg' }}"
            },
            {
              "id": "model",
              "name": "model",
              "type": "string",
              "value": "={{ $json.body.model || 'gpt-4o' }}"
            },
            {
              "id": "requestId",
              "name": "requestId",
              "type": "string",
              "value": "={{ $json.body._meta?.requestId || 'n8n-vision-' + Date.now() }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "build-openai-request",
      "name": "Build OpenAI Request",
      "type": "n8n-nodes-base.set",
      "position": [
        680,
        300
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "imagePayload",
              "name": "imagePayload",
              "type": "object",
              "value": "={{ $json.type === 'url' ? { type: 'image_url', image_url: { url: $json.imageUrl } } : { type: 'image_url', image_url: { url: 'data:' + $json.mimeType + ';base64,' + $json.image } } }}"
            },
            {
              "id": "messages",
              "name": "messages",
              "type": "array",
              "value": "={{ [{ role: 'user', content: [$json.imagePayload, { type: 'text', text: $json.prompt }] }] }}"
            },
            {
              "id": "model",
              "name": "model",
              "type": "string",
              "value": "={{ $json.model }}"
            }
          ]
        },
        "includeOtherFields": true
      },
      "typeVersion": 3.4
    },
    {
      "id": "openai-chat",
      "name": "OpenAI Chat Completions",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        900,
        300
      ],
      "parameters": {
        "url": "={{ (($env.AI_SERVER_URL || $env.OPENAI_API_BASE_URL || 'https://api.openai.com/v1').replace(/\\/v1\\/?$/, '')) + '/v1/chat/completions' }}",
        "method": "POST",
        "options": {
          "timeout": 300000,
          "response": {
            "fullResponse": true
          }
        },
        "jsonBody": "={\n  \"model\": {{ JSON.stringify($json.model) }},\n  \"messages\": {{ JSON.stringify($json.messages) }}\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.AI_API_KEY || $env.OPENAI_API_KEY || '') }}"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "position": [
        1120,
        300
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "description",
              "name": "description",
              "type": "string",
              "value": "={{ $json.body?.choices?.[0]?.message?.content || $json.body?.data?.choices?.[0]?.message?.content || '' }}"
            },
            {
              "id": "model",
              "name": "model",
              "type": "string",
              "value": "={{ $('Set Parameters').item.json.model }}"
            },
            {
              "id": "provider",
              "name": "provider",
              "type": "string",
              "value": "openai-compat"
            },
            {
              "id": "requestId",
              "name": "requestId",
              "type": "string",
              "value": "={{ $('Set Parameters').item.json.requestId }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1340,
        300
      ],
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ description: $json.description, text: $json.description, content: $json.description, model: $json.model, provider: $json.provider, requestId: $json.requestId }) }}"
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Build OpenAI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Request": {
      "main": [
        [
          {
            "node": "OpenAI Chat Completions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Completions": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true,
  "triggerCount": 1
}