backend/n8n-workflows/aidove-basic-chatbot.json
{
  "name": "Aidove Basic Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aidove",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "aidove-webhook"
    },
    {
      "parameters": {
        "inputText": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are Aidove, a helpful AI assistant for the Nodove blog. You help users with questions about blog posts, technology topics, and general inquiries. Respond in the same language as the user's input. Be concise but informative.",
          "maxTokens": 2048,
          "temperature": 0.7
        }
      },
      "id": "openai-chat",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [440, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [660, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.output } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "content": "## Aidove Basic Chatbot\n\nSimple chatbot workflow for general AI conversations.\n\n**Webhook URL:** `https://workflow.nodove.com/webhook/aidove`\n\n**Request Format:**\n```json\n{\n  \"chatInput\": \"user message\",\n  \"sessionId\": \"optional-session-id\",\n  \"metadata\": { ... }\n}\n```\n\n**Response Format:**\n```json\n{\n  \"output\": \"AI response text\"\n}\n```",
        "height": 340,
        "width": 320
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 40]
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error || 'An error occurred processing your request' }}"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 500],
      "parameters_override": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": \"Sorry, I encountered an error. Please try again.\", \"error\": true } }}",
        "options": {
          "responseCode": 500
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "aidove",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    },
    {
      "name": "chatbot",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}
