backend/n8n-workflows/buffer-zone-workflow-chat.json
{
  "name": "Buffer Zone - Workflow Profile Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "buffer-workflow/:profile",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "buffer-workflow-chat-webhook"
    },
    {
      "parameters": {
        "content": "## Buffer Zone - Workflow Profile Chat\n\n사전 정의된 워크플로우 프로필 기반 LLM 채팅.\n\n**Webhook URL:** `https://workflow.nodove.com/webhook/buffer-workflow/{profile}`\n\n**Profiles:**\n- `blog-summary`: 블로그 포스트 요약\n- `code-review`: 코드 리뷰\n- `translate`: 번역\n- `order-approval`: 주문 승인\n\n**Request:**\n```json\n{\n  \"message\": \"이 코드 리뷰해줘\",\n  \"variables\": {\n    \"code\": \"function foo() {...}\",\n    \"language\": \"typescript\"\n  },\n  \"eventSinkId\": \"n8n-main\"\n}\n```\n\n**Response:**\n```json\n{\n  \"sessionId\": \"sess_xxx\",\n  \"message\": \"AI 응답\",\n  \"workflowProfile\": \"code-review\",\n  \"workflowResult\": { \"issues\": [...] }\n}\n```",
        "height": 580,
        "width": 400
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, -320]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "profile",
              "name": "profile",
              "value": "={{ $json.params?.profile || 'default' }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body?.message || $json.message }}",
              "type": "string"
            },
            {
              "id": "modelId",
              "name": "modelId",
              "value": "={{ $json.body?.modelId || $json.modelId || 'gpt-4.1' }}",
              "type": "string"
            },
            {
              "id": "providerId",
              "name": "providerId",
              "value": "={{ $json.body?.providerId || $json.providerId || 'github-copilot' }}",
              "type": "string"
            },
            {
              "id": "variables",
              "name": "variables",
              "value": "={{ $json.body?.variables || $json.variables || {} }}",
              "type": "object"
            },
            {
              "id": "eventSinkId",
              "name": "eventSinkId",
              "value": "={{ $json.body?.eventSinkId || $json.eventSinkId || '' }}",
              "type": "string"
            },
            {
              "id": "context",
              "name": "context",
              "value": "={{ $json.body?.context || $json.context || {} }}",
              "type": "object"
            },
            {
              "id": "metadata",
              "name": "metadata",
              "value": "={{ { ...($json.body?.metadata || $json.metadata || {}), workflowId: $workflow.id, executionId: $execution.id, profile: $json.params?.profile } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-request",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BUFFER_ZONE_URL || 'http://ai-admin:7080' }}/buffer/workflow/{{ $json.profile }}/chat",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($json.message) }},\n  \"modelId\": {{ JSON.stringify($json.modelId) }},\n  \"providerId\": {{ JSON.stringify($json.providerId) }},\n  \"variables\": {{ JSON.stringify($json.variables) }},\n  \"eventSinkId\": {{ JSON.stringify($json.eventSinkId) }},\n  \"context\": {{ JSON.stringify($json.context) }},\n  \"metadata\": {{ JSON.stringify($json.metadata) }}\n}",
        "options": {
          "timeout": 180000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "buffer-workflow-request",
      "name": "Buffer Zone Workflow Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "buffer-zone-auth",
          "name": "Buffer Zone API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-success",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-response",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-event-sink",
              "leftValue": "={{ $('Prepare Request').item.json.eventSinkId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-event-sink",
      "name": "Has Event Sink?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BUFFER_ZONE_URL || 'http://ai-admin:7080' }}/buffer/events/{{ $('Prepare Request').item.json.eventSinkId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"workflow.completed\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"data\": {\n    \"profile\": {{ JSON.stringify($('Prepare Request').item.json.profile) }},\n    \"sessionId\": {{ JSON.stringify($json.body?.sessionId) }},\n    \"result\": {{ JSON.stringify($json.body?.workflowResult) }},\n    \"executionId\": {{ JSON.stringify($('Prepare Request').item.json.metadata?.executionId) }}\n  }\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-event",
      "name": "Send Event to Sink",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "buffer-zone-auth",
          "name": "Buffer Zone API Auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "sessionId",
              "name": "sessionId",
              "value": "={{ $('Success?').item.json.body?.sessionId }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $('Success?').item.json.body?.message }}",
              "type": "string"
            },
            {
              "id": "workflowProfile",
              "name": "workflowProfile",
              "value": "={{ $('Success?').item.json.body?.workflowProfile || $('Prepare Request').item.json.profile }}",
              "type": "string"
            },
            {
              "id": "workflowResult",
              "name": "workflowResult",
              "value": "={{ $('Success?').item.json.body?.workflowResult || {} }}",
              "type": "object"
            },
            {
              "id": "modelId",
              "name": "modelId",
              "value": "={{ $('Success?').item.json.body?.modelId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-success",
      "name": "Format Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 200]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.body?.error || 'Workflow request failed' }}",
              "type": "string"
            },
            {
              "id": "statusCode",
              "name": "statusCode",
              "value": "={{ $json.statusCode }}",
              "type": "number"
            },
            {
              "id": "profile",
              "name": "profile",
              "value": "={{ $('Prepare Request').item.json.profile }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"sessionId\": {{ JSON.stringify($json.sessionId) }},\n  \"output\": {{ JSON.stringify($json.message) }},\n  \"workflowProfile\": {{ JSON.stringify($json.workflowProfile) }},\n  \"workflowResult\": {{ JSON.stringify($json.workflowResult) }},\n  \"modelId\": {{ JSON.stringify($json.modelId) }}\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1760, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": {{ JSON.stringify($json.error) }},\n  \"statusCode\": {{ $json.statusCode }},\n  \"profile\": {{ JSON.stringify($json.profile) }}\n}",
        "options": {
          "responseCode": "={{ $json.statusCode >= 400 ? $json.statusCode : 500 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Buffer Zone Workflow Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Zone Workflow Chat": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Has Event Sink?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Event Sink?": {
      "main": [
        [
          {
            "node": "Send Event to Sink",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Event to Sink": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "buffer-zone",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    },
    {
      "name": "workflow",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    },
    {
      "name": "profile",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}
