backend/n8n-workflows/buffer-zone-chat.json
{
  "name": "Buffer Zone - Basic Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "buffer-chat",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "buffer-chat-webhook"
    },
    {
      "parameters": {
        "content": "## Buffer Zone - Basic Chat\n\nBuffer Zone API를 통한 일반 LLM 채팅 워크플로우.\n\n**Webhook URL:** `https://blog-bw.nodove.com/webhook/buffer-chat`\n\n**Request:**\n```json\n{\n  \"message\": \"사용자 메시지\",\n  \"modelId\": \"gpt-4.1\",\n  \"providerId\": \"openai\",\n  \"context\": { \"locale\": \"ko-KR\" },\n  \"metadata\": { \"client\": \"n8n\" }\n}\n```\n\n**Response:**\n```json\n{\n  \"sessionId\": \"sess_xxx\",\n  \"message\": \"AI 응답\",\n  \"modelId\": \"gpt-4.1\",\n  \"providerId\": \"openai\"\n}\n```",
        "height": 440,
        "width": 360
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, -180]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body?.message || $json.message || $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "modelId",
              "name": "modelId",
              "value": "={{ $json.body?.modelId || $json.modelId || 'gpt-4.1' }}",
              "type": "string"
            },
            {
              "id": "providerId",
              "name": "providerId",
              "value": "={{ $json.body?.providerId || $json.providerId || 'github-copilot' }}",
              "type": "string"
            },
            {
              "id": "context",
              "name": "context",
              "value": "={{ $json.body?.context || $json.context || {} }}",
              "type": "object"
            },
            {
              "id": "metadata",
              "name": "metadata",
              "value": "={{ { ...($json.body?.metadata || $json.metadata || {}), workflowId: $workflow.id, executionId: $execution.id } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-request",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BUFFER_ZONE_URL || 'http://ai-admin:7080' }}/buffer/chat",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($json.message) }},\n  \"modelId\": {{ JSON.stringify($json.modelId) }},\n  \"providerId\": {{ JSON.stringify($json.providerId) }},\n  \"context\": {{ JSON.stringify($json.context) }},\n  \"metadata\": {{ JSON.stringify($json.metadata) }}\n}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "buffer-chat-request",
      "name": "Buffer Zone Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "buffer-zone-auth",
          "name": "Buffer Zone API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-success",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-response",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "sessionId",
              "name": "sessionId",
              "value": "={{ $json.body?.sessionId }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body?.message }}",
              "type": "string"
            },
            {
              "id": "modelId",
              "name": "modelId",
              "value": "={{ $json.body?.modelId }}",
              "type": "string"
            },
            {
              "id": "providerId",
              "name": "providerId",
              "value": "={{ $json.body?.providerId }}",
              "type": "string"
            },
            {
              "id": "response",
              "name": "response",
              "value": "={{ $json.body?.response }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "format-success",
      "name": "Format Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.body?.error || 'Unknown error occurred' }}",
              "type": "string"
            },
            {
              "id": "statusCode",
              "name": "statusCode",
              "value": "={{ $json.statusCode }}",
              "type": "number"
            },
            {
              "id": "upstream",
              "name": "upstream",
              "value": "={{ $json.body?.upstream }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"sessionId\": {{ JSON.stringify($json.sessionId) }},\n  \"output\": {{ JSON.stringify($json.message) }},\n  \"modelId\": {{ JSON.stringify($json.modelId) }},\n  \"providerId\": {{ JSON.stringify($json.providerId) }}\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": {{ JSON.stringify($json.error) }},\n  \"statusCode\": {{ $json.statusCode }}\n}",
        "options": {
          "responseCode": "={{ $json.statusCode >= 400 ? $json.statusCode : 500 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Buffer Zone Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Zone Chat": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "buffer-zone",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    },
    {
      "name": "chat",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    },
    {
      "name": "ai",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}
