backend/n8n-workflows/buffer-zone-rag-chat.json
{
  "name": "Buffer Zone - RAG Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "buffer-rag-chat",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "buffer-rag-chat-webhook"
    },
    {
      "parameters": {
        "content": "## Buffer Zone - RAG Chat\n\nBuffer Zone API를 통한 RAG(검색 증강) 기반 LLM 채팅.\n\n**Webhook URL:** `https://workflow.nodove.com/webhook/buffer-rag-chat`\n\n**Features:**\n- Qdrant/ChromaDB 벡터 검색\n- 블로그 포스트 컨텍스트 주입\n- 소스 인용 지원\n\n**Request:**\n```json\n{\n  \"message\": \"이 블로그의 아키텍처는?\",\n  \"ragProfile\": \"blog-posts\",\n  \"topK\": 5,\n  \"filters\": { \"category\": \"tech\" },\n  \"modelId\": \"gpt-4.1\"\n}\n```\n\n**Response:**\n```json\n{\n  \"sessionId\": \"sess_xxx\",\n  \"message\": \"AI 응답\",\n  \"retrievedChunks\": [...],\n  \"sources\": [\"post-1\", \"post-2\"]\n}\n```",
        "height": 540,
        "width": 380
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, -280]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body?.message || $json.message || $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "modelId",
              "name": "modelId",
              "value": "={{ $json.body?.modelId || $json.modelId || 'gpt-4.1' }}",
              "type": "string"
            },
            {
              "id": "providerId",
              "name": "providerId",
              "value": "={{ $json.body?.providerId || $json.providerId || 'github-copilot' }}",
              "type": "string"
            },
            {
              "id": "ragProfile",
              "name": "ragProfile",
              "value": "={{ $json.body?.ragProfile || $json.ragProfile || 'blog-posts' }}",
              "type": "string"
            },
            {
              "id": "topK",
              "name": "topK",
              "value": "={{ $json.body?.topK || $json.topK || 5 }}",
              "type": "number"
            },
            {
              "id": "filters",
              "name": "filters",
              "value": "={{ $json.body?.filters || $json.filters || {} }}",
              "type": "object"
            },
            {
              "id": "context",
              "name": "context",
              "value": "={{ $json.body?.context || $json.context || {} }}",
              "type": "object"
            },
            {
              "id": "metadata",
              "name": "metadata",
              "value": "={{ { ...($json.body?.metadata || $json.metadata || {}), workflowId: $workflow.id, executionId: $execution.id, ragEnabled: true } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-request",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BUFFER_ZONE_URL || 'http://ai-admin:7080' }}/buffer/rag-chat",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($json.message) }},\n  \"modelId\": {{ JSON.stringify($json.modelId) }},\n  \"providerId\": {{ JSON.stringify($json.providerId) }},\n  \"ragProfile\": {{ JSON.stringify($json.ragProfile) }},\n  \"topK\": {{ $json.topK }},\n  \"filters\": {{ JSON.stringify($json.filters) }},\n  \"context\": {{ JSON.stringify($json.context) }},\n  \"metadata\": {{ JSON.stringify($json.metadata) }}\n}",
        "options": {
          "timeout": 180000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "buffer-rag-request",
      "name": "Buffer Zone RAG Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "buffer-zone-auth",
          "name": "Buffer Zone API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-success",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-response",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "sessionId",
              "name": "sessionId",
              "value": "={{ $json.body?.sessionId }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body?.message }}",
              "type": "string"
            },
            {
              "id": "modelId",
              "name": "modelId",
              "value": "={{ $json.body?.modelId }}",
              "type": "string"
            },
            {
              "id": "retrievedChunks",
              "name": "retrievedChunks",
              "value": "={{ $json.body?.retrievedChunks || [] }}",
              "type": "object"
            },
            {
              "id": "sources",
              "name": "sources",
              "value": "={{ ($json.body?.retrievedChunks || []).map(c => c.metadata?.source || c.metadata?.title).filter((v, i, a) => v && a.indexOf(v) === i) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "format-success",
      "name": "Format Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.body?.error || 'RAG request failed' }}",
              "type": "string"
            },
            {
              "id": "statusCode",
              "name": "statusCode",
              "value": "={{ $json.statusCode }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"rag\": true,\n  \"sessionId\": {{ JSON.stringify($json.sessionId) }},\n  \"output\": {{ JSON.stringify($json.message) }},\n  \"modelId\": {{ JSON.stringify($json.modelId) }},\n  \"sources\": {{ JSON.stringify($json.sources) }},\n  \"retrievedChunks\": {{ JSON.stringify($json.retrievedChunks) }}\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"rag\": true,\n  \"error\": {{ JSON.stringify($json.error) }},\n  \"statusCode\": {{ $json.statusCode }}\n}",
        "options": {
          "responseCode": "={{ $json.statusCode >= 400 ? $json.statusCode : 500 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Buffer Zone RAG Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Zone RAG Chat": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "buffer-zone",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    },
    {
      "name": "rag",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    },
    {
      "name": "vector-search",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}
